@import url(common.css);
#zer-header .zer-title {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
}
#zer-header .zer-title .title {
  position: absolute;
  left: 40px;
  right: 40px;
  text-align: center;
  line-height: 48px;
}
#zer-header .zer-title .title div {
  width: 104px;
  margin: 0 auto;
}
#zer-header .zer-title .title div .detail {
  width: 50%;
  height: 100%;
  float: left;
  padding: 0px 10px;
  font-size: 16px;
}
#zer-header .zer-title .title div .comment {
  width: 50%;
  height: 100%;
  float: left;
  padding: 0px 10px;
  font-size: 16px;
}
#zer-header .zer-title .title div .active {
  background: white;
  color: black;
}
#zer-header .zer-title .prev {
  position: absolute;
  left: 10px;
  top: 10px;
}
#zer-header .zer-title .titleList {
  position: absolute;
  right: 15px;
  top: 12px;
}

#zer-mainBody {
  overflow: auto;
}
#zer-mainBody .zer-swiper {
  width: 100%;
  background: #FFFFFF;
}
#zer-mainBody .zer-swiper .swiper-slide {
  padding-left: 30px;
  padding-right: 30px;
}
#zer-mainBody .zer-swiper .swiper-slide img {
  width: 100%;
}
#zer-mainBody .zer-swiper .goodInfo {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 14px;
}
#zer-mainBody .zer-swiper .goodPrice {
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  color: #8E488E;
}
#zer-mainBody .zer-swiper .goodPrice span {
  font-size: 16px;
}
#zer-mainBody .moreInfo {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  background: white;
}
#zer-mainBody .moreInfo p {
  text-align: left;
  margin-bottom: 10px;
  color: #ccc;
  font-size: 13px;
}
#zer-mainBody .moreInfo p span {
  color: #000000;
  font-size: 13px;
}
#zer-mainBody .infoImg {
  width: 100%;
  overflow: hidden;
}
#zer-mainBody .infoImg img {
  width: 100%;
}

#commentContainer {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 48px;
  left: 0px;
  right: 0px;
  bottom: 54px;
  overflow: auto;
  z-index: 100;
  background: #f1f5f6;
}
#commentContainer .commentContainer {
  overflow: hidden;
}
#commentContainer .commentContainer .commentItem {
  margin-top: 10px;
  background: white;
  overflow: hidden;
  width: 100%;
}
#commentContainer .commentContainer .commentItem .user {
  overflow: hidden;
  margin: 0;
  padding: 5px 0;
}
#commentContainer .commentContainer .commentItem .user li {
  padding: 5px 10px;
}
#commentContainer .commentContainer .commentItem .content {
  width: 100%;
  border-top: 1px solid #CCCCCC;
  padding-left: 10px;
  margin-bottom: 0;
}
#commentContainer .commentContainer .commentItem .content li:nth-child(1) {
  color: red;
}
#commentContainer .commentContainer .commentItem .content li:nth-child(2) {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
#commentContainer .commentContainer .commentItem .content li:nth-child(3) {
  color: #CCCCCC;
}
#commentContainer .commentContainer .commentItem img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  vertical-align: middle;
}

#zer-footer .mallCar {
  background: white;
  color: #8E488E;
  text-align: center;
  line-height: 65px;
  position: relative;
}
#zer-footer .mallCar .itemCount {
  background-color: #8E488E;
  min-width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  right: 35px;
  top: 10px;
  font-size: 9px;
  text-align: center;
  color: #fff;
  padding: 0 2px;
  line-height: 19px;
}
#zer-footer .addCar {
  font-size: 16px;
  background: #dd3d97;
  color: white;
  text-align: center;
  line-height: 54px;
}
#zer-footer .buyNow {
  font-size: 16px;
  background: #8E488E;
  color: white;
  text-align: center;
  line-height: 54px;
}

.navmorelist .navlist {
  width: 126px;
  height: 154px;
  position: absolute;
  top: 58px;
  right: 10px;
  background: #484F55;
  z-index: 350;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transform-origin: 0px 0px 0px;
  opacity: 0.9;
  -webkit-transform: scale(1, 1);
}
.navmorelist .navlist ul li {
  border-bottom: 1px solid #5B6166;
  height: 38px;
  line-height: 38px;
  text-align: left;
  text-indent: 2.5em;
  background: #484F55;
  color: white;
}
.navmorelist .navlist:after {
  content: "";
  position: absolute;
  top: -16px;
  right: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent #484F55 transparent;
  border-width: 8px;
}

/*# sourceMappingURL=goodInfo.css.map */
