@import url(common.css);
#zer-header .zer-title {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
}
#zer-header .zer-title span {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 40px;
  right: 40px;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
}
#zer-header .zer-title .prev {
  position: absolute;
  left: 10px;
  top: 10px;
}
#zer-header .zer-title .titleList {
  position: absolute;
  right: 15px;
  top: 12px;
}

.navmorelist .navlist {
  width: 126px;
  height: 154px;
  position: absolute;
  top: 58px;
  right: 10px;
  background: #484F55;
  z-index: 350;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transform-origin: 0px 0px 0px;
  opacity: 0.9;
  -webkit-transform: scale(1, 1);
}
.navmorelist .navlist ul li {
  border-bottom: 1px solid #5B6166;
  height: 38px;
  line-height: 38px;
  text-align: left;
  text-indent: 2.5em;
  background: #484F55;
  color: white;
}
.navmorelist .navlist:after {
  content: "";
  position: absolute;
  top: -16px;
  right: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent #484F55 transparent;
  border-width: 8px;
}

#zer-mainBody {
  overflow: auto;
}
#zer-mainBody .userTitle {
  width: 100%;
  height: 85px;
  background: url(../img/61.jpg) center center no-repeat;
}
#zer-mainBody .userTitle .userIcon {
  padding: 0;
  height: 100%;
}
#zer-mainBody .userTitle .userIcon img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-left: 15px;
  margin-top: 15px;
}
#zer-mainBody .userTitle .userAccount {
  height: 100%;
  padding: 0;
  color: #fff;
  padding-top: 20px;
}
#zer-mainBody .userTitle .userAccount div:nth-child(1) {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}
#zer-mainBody .userTitle .userAccount div:nth-child(2) {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}
#zer-mainBody .userTitle .userAccount div:nth-child(2) img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
#zer-mainBody .userTitle .next {
  color: white;
  height: 100%;
  position: relative;
}
#zer-mainBody .userTitle .next .angleright {
  position: absolute;
  top: 28px;
  left: 50px;
}
#zer-mainBody .userFinance {
  width: 100%;
  height: 60px;
  padding: 8px 0;
  background: white;
}
#zer-mainBody .userFinance .box {
  height: 100%;
  border-right: 1px solid #ccc;
}
#zer-mainBody .userFinance .box a div:nth-child(1) {
  height: 60%;
  border: none;
  font-size: 20px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}
#zer-mainBody .userFinance .box a div:nth-child(2) {
  color: #98999A;
  text-align: center;
}
#zer-mainBody .userFinance div:last-child {
  border: none;
}
#zer-mainBody .userList {
  width: 100%;
  margin: 10px 0;
}
#zer-mainBody .userList ul li {
  width: 100%;
  padding: 15px 15px;
  position: relative;
  background: white;
  border-bottom: 1px solid #ccc;
}
#zer-mainBody .userList ul li .itemCount {
  position: absolute;
  right: 30px;
  top: 18px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background: #8E488E;
  text-align: center;
  color: #fff;
}
#zer-mainBody .userList ul li span:nth-child(2) {
  display: block;
  position: absolute;
  left: 60px;
  top: 18px;
  font-size: 14px;
}
#zer-mainBody .userList ul li span:last-child {
  display: block;
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 21px;
  color: #555;
}
#zer-mainBody .userList ul li .color1 {
  color: #fc215e;
}
#zer-mainBody .userList ul li .color2 {
  color: #4fc6ee;
}
#zer-mainBody .userList ul li .color3 {
  color: #ffa64c;
}

/*# sourceMappingURL=myAccount.css.map */
