@import "common.css";

#zer-header{
    
    .zer-title{
        width: 100%;
        height: 100%;
        position: relative;
        
        span{
            display: block;
            position: absolute;
            left: 40px;
            right: 40px;
            height: 100%;
            text-align: center;
            color: white;
            font-size: 16px;
            line-height: 48px;
        }
        
        .zer-search{
            position: absolute;
            top: 13px;
            right: 15px; 
            color: white;
            font-size: 22px;
            font-weight: normal;
        }
    }
    
}

//隐藏某个节点
.hide{
    display: none;
}

//主页的搜索页
#zer-searchContainer{
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
    
    .title{
        width: 100%;
        height: 48px;
        position: relative;
        background: #8E488E;
        
        span{
            display: block;
            position: absolute;
            left: 40px;
            right: 40px;
            height: 100%;
            text-align: center;
            color: white;
            font-size: 16px;
            line-height: 48px;
        }
        
        .close{
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            .color{
                color: white;
            }
        }
    }
    
    .search{
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 10px 10px;
        
        .input-group{
            width: 100%;
            border: 1px solid #CCCCCC;
            padding: 10px 0px;
            border-radius: 10px;
            .zer-search{
                background: white;
                font-size: 14px;
                font-weight: bold;
                padding-left: 10px;
            }
            .zer-form-control{
                border: none;
                padding-left: 0px;
                background: white;
                outline: none !important;
            }
            .zer-search-btn{
                border: none;
                height: 100%;
                background: white;
                outline: none;
            }
        }
        
    }
}

//主体部分
#zer-mainBody{
    .zer-container{
        width: 100%;
//      overflow: hidden;
        
        .blank{
            width: 100%;
            height: 54px;
        }
        .zer-swiper{
            width: 100%;
            
            img{
                width: 100%;
            }
        }
        
        .imgContainer{
            width: 100%;
            position: relative;
            overflow: hidden;
            
            img{
                padding: 0;
                width: 100%;
            }
            
            div{
                padding: 5px;
                padding-bottom: 0px;
                float: left;
            }
        }
        
        .zer-sale{
            img{
                padding: 0;
            }
        }
        
        .zer-itemlist{
            width: 100%;
            overflow: hidden;
            
            .item{
                width: 100%;
                overflow: hidden;
                padding: 0px 3px;
                background: white;
                
                img{
                    width: 100%;
                }
                
                .itemInfo{
                    font-size: 14px;
                    color: #616b7f;
                    margin:5px 0px;
                }
                
                .itemPrice{
                    font-size: 16px;
                    color: #e80080;
                    span{
                        font-size: 16px;
                        color: #e80080;
                    }
                }
            }
        }
    }
    
}


//脚部
#zer-footer{
    .footer-nav{
        height: 100%;
        width: 25%;
        float: left;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        padding-top: 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

.backToTop{
    position: fixed;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e80080;
    color: white;
    text-align: center;
    line-height: 55px;
}


.loading{
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #CCCCCC;
    opacity: 0.5;
    z-index: 2000;
    
    ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 20px;
        
        li{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            float: left;
            background: black;
        }
        li:nth-child(1){
            animation: loading1 1.4s infinite;
            -webkit-animation: loading1 1.4s infinite;
            animation-delay: -0.32s;
            -webkit-animation-delay: -0.32s;
        }
        li:nth-child(2){
            animation: loading1 1.4s infinite;
            -webkit-animation: loading1 1.4s infinite;
            animation-delay: -0.16s;
            -webkit-animation-delay: -0.16s;
        }
        li:nth-child(3){
            animation: loading1 1.4s infinite;
            -webkit-animation: loading1 1.4s infinite;
        }
    }
    
    @keyframes loading1{
        0%{
            
        }
        40%{
            transform: scale(0);
            -webkit-transform: scale(0);
        }
        80%{
            transform: scale(1);
            -webkit-transform: scale(1);
        }
        100%{
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
    
}






